$barca-red: #A60042;
$barca-blue: #004C99;
$barca-yellow: #EEBC00;

body {
	background-color: lightgray;
	margin: 50px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	margin: 0;
}

div#root {
	display: flex;

	flex-flow: row nowrap;
	
	

	header {
		flex: 0 1 20vw;

		text-align: center;

		img {
			max-width: 100%;
		}

		h1 {
			font-size: 3rem;
		
			color: $barca-blue;
		}

		button#menu {
			display: none;
		}

		nav {
			a {
				font-family: 'Playfair Display', serif;
				display: block;
				padding: 10px 0;
				margin: 5px 0;
				text-decoration: none;
				font-size: 2rem;
				color: $barca-red;

				border-radius: 5px;



				&:hover {
					color: white;
					background-color: $barca-blue;
				}

				&:active {
					color: white;
					background-color: $barca-red;
				}
			}
		}
	}

	div#divider {
		background-color: $barca-red;
		margin: 10px;
		flex: 1 0 1px;
	}

	main {
		section {
			padding: 0 20px;

			h2 {
				font-size: 2.5rem;
				color: $barca-red;
			}

			h3 {
				font-size: 2rem;
			}

			p {
				font-size: 1.25rem;
				line-height: 2.5rem;

				em {
					font-style: normal;
					font-weight: bold;
					&.competitions {
						color: $barca-red;
					}
					&.names {
						color: $barca-blue;
					}
				}
			}

			footer {
				display: inline-block;
				font-family: monospace;
				font-size: 1.25rem;
				line-height: 2rem;
				background-color: $barca-yellow;
				padding: 0 20px;
			}
		}
	}

}

@media screen and (max-width: 50rem) {
	body {
		margin: 20px;
	}

	div#root {

		flex-flow: row wrap;

		header {
			flex: 1 0 100%;


			button#menu {
				display: block;
			}

			nav {
				a {
				

					&:active {
						color: initial;
						background-color: initial;
					}
				}
			}
		}


		div#divider {
			flex: 1;
			height: 1px;
		}


		main {
			section {
				text-align: center;

				padding: 0;

				h2 {
					font-size: 3.5rem;
				}


			}
		}

		div.dropdown {
				position: relative;
				display: inline-block;
				nav {
					
					display: none;
					

					a {

						font-size: 3rem;
					}

					&.active {
						display: block;
					}
				}

			}
	}
}


@media screen and (max-width: 50rem) and (min-width: 30rem) {
	div#root {

		header {
			img {
				max-width: 60%;

			}

			h1 {
				font-size: 6rem;
			}
		}
	}
}


@media screen and (max-width: 30rem) {
	
}


