$red: #A60042;
$blue: #004C99;
$yellow: #EEBC00;
$gray: lightgray;


body {
	background-color: $gray;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	margin: 0;
}

div#root {
	display: flex;

	div.divider {
		background-color: $red;
		margin: 2rem 1rem;
		flex: 1 0 1rem;
		border-radius: 10px;
	}

	nav {
		flex: 1 0 20vw;
		height: calc(100vh - 4rem);
		margin: 2rem;

		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;

		img {
			max-width: 100%;
			height: auto;
		}

		.nav-link {
			flex: 0 1 100%;
			text-decoration: none;
			font-size: 2rem;
			font-family: 'Playfair Display', serif;
			border-radius: 10px;

			&:hover {
				color: white;
				background-color: $blue;
			}
		}
	}

	section {
		margin: 2rem;

		.section-header {
			font-size: 3rem;
			color: $red;
		}

		.section-body {
			font-size: 1.25rem;
			line-height: 2.5rem;
		}

		.section-footer {
			display: inline-block;
			font-family: monospace;
			font-size: 1.25rem;
			line-height: 2rem;
			background-color: $yellow;
			padding: 0 20px;
			border-radius: 10px;
		}
	}

}


