$red: #A60042;
$blue: #004C99;
$yellow: #EEBC00;
$gray: lightgray;


body {
	background-color: $gray;
	margin: 50px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	margin: 0;
}

div#root {
	display: flex;

	flex-flow: row nowrap;
	
	* {
		border-radius: 10px;
	}
	

	header {
		flex: 0 1 20vw;

		text-align: center;

		img {
			max-width: 100%;
		}

		h1 {
			font-size: 3rem;
		
			color: $blue;
		}

		button {
			display: none;
		}

		nav {
			a {
				font-family: 'Playfair Display', serif;
				display: block;
				padding: 10px 0;
				margin: 5px 0;
				text-decoration: none;
				font-size: 2rem;
				color: $red;




				&:hover {
					color: white;
					background-color: $blue;
				}

				&:active {
					color: white;
					background-color: $red;
				}
			}
		}
	}

	div.divider {
		background-color: $red;
		margin: 10px;
		flex: 0 1 1px;
	}

	main {
		section {
			padding: 0 20px;

			h2 {
				font-size: 2.5rem;
				color: $red;
			}

			h3 {
				font-size: 2rem;
			}

			p {
				font-size: 1.25rem;
				line-height: 2.5rem;

				em {
					font-style: normal;
					font-weight: bold;
					color: $blue;
				}
			}

			footer {
				display: inline-block;
				font-family: monospace;
				font-size: 1.25rem;
				line-height: 2rem;
				background-color: $yellow;
				padding: 0 20px;
			}
		}
	}

}

@media screen and (max-width: 50rem) {
	body {
		margin: 20px;
	}

	div#root {

		flex-flow: row wrap;

		header {
			flex: 1 0 100%;

			button {
				margin-top: 10px;
				display: inline-block;
				width: 20%;
				color: $red;
				background-color: transparent;
				border: none;
				font-size: 2rem;
			}




			

			nav {
				height: 0;
				background-color: $red;

				display: flex;
				flex-flow: row wrap;

				overflow: hidden;


				transition: height 300ms;

				a {
					color: $gray;
					border-radius: 0;
					font-size: 3rem;
					line-height: 3rem;
					margin: 0;



					flex: 0 1 100%;


					&:nth-child(1) {
						border-radius: 10px 10px 0 0;
					}

					&:nth-last-child(1) {
						border-radius: 0 0 10px 10px;
					}
				}




				&.active {
					height: calc(15rem + 100px);
				}
			}


			
		}


		div.divider {
			display: block;
			flex: 1;
			height: 1px;
		}


		main {
			section {
				text-align: center;

				padding: 0;

				margin: 0;

				h2 {
					font-size: 3.5rem;
				}


			}
		}

	}
}


@media screen and (max-width: 50rem) and (min-width: 30rem) {
	div#root {

		header {
			img {
				max-width: 60%;

			}



			h1 {
				font-size: 6rem;
			}
		}
	}
}


@media screen and (max-width: 30rem) {
	
}


